* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Home {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}


 
.products {
  min-height: 100%;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  padding: 20px;
}
.product {
  margin-top: 100px;
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.308);
  gap: 5px;
  transition: all 2s;
  border-radius: 10px;
}
.pimg {
  height: 250px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.product:hover {
  transform: scale(1.1, 1.1);
}
img {
  height: 200px;
  width: 230px;
  background-color: transparent;
}
.rate_price {
  min-height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  font-size: 1.2rem;
  align-items: center;
}
.addcart {
  cursor: pointer;
  transition: all;
  border: none;
  outline: 1px solid rgb(217, 217, 217);
  padding: 10px 30px;
  border-radius: 5px;
}
