*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Home{
    height: 100vh;
    width: 100%;
    background-color: rgba(250, 235, 215, 0.852);
}
.Home nav{
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.205);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
}
.centre{
    display: flex;
    gap: 50px;
    text-decoration: none;
}
.centre a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    padding: 10px;
    transition: all 1s;
}
.centre a:hover{
    transform: scale(1.4,1.4);
}
.logo{

}

.search{
    position: relative;
}

.search input{
    padding: 10px 70px 10px 10px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;

}
.search .search_icon{
     position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;

}
.products{
    padding-top: 20px;
    min-height: 100%;
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(213, 179, 135, 0.852) ;
     row-gap: 10px;
    padding: 20px;
    
}
.product{
    margin-top: 100px;
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 5PX;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 25px;
    transition: all 1s;
    border-radius: 10px;
   
}
.product:hover{
    transform: scale(1.1,1.1);
}
.product img{
     
    height: 250px;
    width: 230px;
}
.rate_price{
   min-height: 20px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.addcart{
    cursor: pointer;
    transition: all;
    border: none;
}
.addcart:hover{
    outline: 1px solid rgb(217, 217, 217);
    padding: 0px 10px;
    transform: scale(1.3,1.3);  
}

