*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.formlogin{
    
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(127, 255, 212, 0.532);
    box-shadow: 0px 0px 5px 2px ;
    
}
.formlogin h1{
    margin-bottom: 30px;
}
.formlogin form{
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    justify-content: center;
    align-items: center;
}
.formlogin form input{
    padding: 10px 70px  10px 5px;
    outline: none;
    cursor: pointer;
}
.formlogin form button{
    padding: 7px 15px;
    background-color: rgba(127, 255, 212, 0.532);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.formlogin form button:active
{
    background-color:  rgba(102, 255, 0, 0.536);
}
.formlogin form p{
    font-size: 1.2rem;
}
.formlogin form  a{
    text-decoration: none;
    color: black;
}
.formlogin .password{
    position: relative;
    width: 100%;
}
.formlogin .eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
    
}

