*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
  height: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.205);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: fixed;
  z-index: 1;
}
.centre {
  display: flex;
  gap: 50px;
  text-decoration: none;
}
.centre a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  padding: 10px;
  transition: all 1s;
}
.centre a:hover {
  transform: scale(1.4, 1.4);
}

.search {
  position: relative;
}

.search input {
  padding: 10px 70px 10px 10px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}
.search .search_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}