* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.based-on-product {
  min-height: 1000px;
  width: 100%;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}
.allproductsdetails {
  position: absolute;
  margin-top: 100px;
 min-height: 600px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 10px;
  flex-direction: column;
  
}
.allproductsdetails h1 {
  padding: 20px;
}
.top-stories p b{
    color: #414141;
}
.top-stories p{
    font-size: 1.2rem;
    padding: 20px;
     color: #414141;
}
.payment-options p{
    font-size: 1.2rem;
    padding: 20px;
     color: #414141;
}
.why-you-choose  ul p{
      font-size: 1.2rem;
    padding: 20px;
     color: #414141;
}
.allcategory {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
}
.category {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
img {
  height: 200px;
  width: 200px;
}

.category:hover {
  background-color: rgba(99, 99, 99, 0.21);
}
